# Environments
venv/
env/
.env

# Python artifacts
__pycache__/
*.py[cod]
*.so

# Data files (we don't want to push raw/simulated data to GitHub)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/
